// variables
/* 选择文档的根元素（HTML中的 <html>） */
/** 声明全局 CSS 变量 */
:root {
  --font-color-default: black;
  --background-color-default: white;
}

html.dark {
  --font-color-default: white;
  --background-color-default: black;
}
